<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Listings</title>

  <%- include('partials/_links') %>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/f4a4038515.js" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <!-- Navigation -->
    <%- include('partials/_header') %>
  </header>

  <!-- My Listings -->
    <main id="my-listings">
      <div class="container">
        <div id="my-listings-header" class="text-center">
          <h1>My Listings</h1>
        </div>
        <div class="row">
          <% for (let item in items) {%>
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <img class="card-img-top" src="<%= items[item].photo_url %>" alt="">
                <div class="card-body">
                  <h4 class="card-title">
                    <%= items[item].name %>
                  </h4>
                  <h5>$<%= items[item].price %></h5>
                  <p class="card-text"><%= items[item].description %></p>
                  <h6>Condition: <%= items[item].condition %></h6>
                </div>
                <div class="card-footer">
                  <% if (items[item].active) {%>
                    <span>Available</span>
                  <%} else {%>
                    <span style="color: red;">SOLD</span>
                  <%}%>
                </div>
                <div id="listing-btn" class="card-footer">
                  <form action="/listings/<%= item %>/delete" method="POST">
                    <button id="remove-btn" class="btn btn-secondary" type="submit">Remove</button>
                  </form>
              <% if (items[item].active) {%>
              <form action="/listings/<%= item %>/mark-item" method="POST">
                <button id="mark-sold-btn" class="btn btn-primary" type="submit">Mark Sold</button>
              </form>
              <% } else {%>
              <form action="/listings/<%= item %>/mark-item" method="POST">
                <button id="mark-available-btn" class="btn btn-outline-primary" type="submit">Mark Available</button>
              </form>
              <% } %>
            </div>
          </div>
        </div>
        <%}%>

        </div>
        <!-- /.row -->

      </div>
  <!-- /.container -->
    </main>

    <!-- Footer & Bootstrap core JavaScript-->
    <%- include('partials/_footer') %>
</body>

</html>
